<!--
    ESSES ARQUIVOS SÃO SOBRE O QUE ESTA DENTRO
    DA PÁGINA, E O SHARED É O QUE FICA QUANDO,
    TROCA PARA OUTRA PAGINA, COMO A BARRA, ELA FICA...
-->

@{
    ViewData["Title"] = "Página inicial";
}

<body style="background-color: #D9CEBC">
    <div class="text-center">
        <h1 class="display-4">Bem Vindo!!</h1>
        <p> Teste de cadastro aqui</p>


        <div class="Teste" style="background-color:#877251; border-radius:10px; ">
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
        </div>
    </div>

</body>
